@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
 :root{
    background: linear-gradient(135deg, #e6734d7e 0%, #477eb398 100%);
    --color-primary:rgb(73, 188, 81);
    --color-secondary:#764ba2;
    --boton-pading:20px 40px;
 }

 body{
    font-family: 'Poppins' sans-serif;
    
 }

 .container{
    width: 80%;
    margin-top: 0 auto;
    text-align: justify;
    overflow: hidden;
    padding:80px 0;
    max-width: 1200px;
 }

 .subtitle{
    color:var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}


.hero{
    height: 100vh;
    background-image: var(--background),url(Imagenes/coffee_winter.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
    background-position: center;
    position: relative;
}

 .nav_items{
    /* width: 2rem; */
    max-width: max-content;
    height: 15px;
    color: var(--color-primary);

 }

 .btn_magos{

    display: flex;
    width: max-content;
    font-weight: bold;
    font-size: 20px;
    padding: 2rem;
    margin: 3cm auto;
    background-color: var(--color-secondary);
    color: white;
    border-radius: 8cm;
    cursor: pointer;
    
 }
 .btn_elixir{

    display: flex;
    width: max-content;
    font-weight: bold;
    font-size: 20px;
    padding: 2rem;
    margin: 3cm auto;
    background-color: var(--color-secondary);
    color: white;
    border-radius: 8cm;
    cursor: pointer;
    
 }

 .escudos_grid{
    width: 100%;
    display: grid;
    grid-template-columns:2fr 2fr;
    gap: 10px;
    justify-content:flex-start;
    align-items: space-around;
 }

 .escudos_info1{
    position: relative;
    background-image: url(Imagenes/gryffindor.jpeg) ;
    background-position: center;
    background-size: auto 100%;
    max-width: 80%; 
    height: 100%;
    overflow: hidden;
 }
 .escudos_info2{
    position: relative;
    background-image: url(Imagenes/ravenclaw.jpeg) ;
    background-position: center;
    background-size: auto 100%;
    max-width: 80%; 
    height: 100%;
    overflow: hidden;
 }

 .escudos_info3{
    position: relative;
    background-image: url(Imagenes/hufflepuff.jpeg) ;
    background-position: center;
    background-size:auto 100%;
    max-width: 80%; 
    height: 100%;
    overflow: hidden;
 
 }

 .escudos_info4{
    position: relative;
    background: url(Imagenes/slytherin.jpeg);
    background-position: center;
    background-size:auto 100%;
    max-width: 80%; 
    height: 100%;
    overflow: hidden;
 
 
 }
 .escudo_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor:pointer
 }

.ventanaFlotante{
    display:none;
    position: fixed;
    top:30%;
    left: 70%;
    transform: translate(-50%,-50%);
    box-shadow: inset 0 0 0 1000px rgba(105, 18, 162, 0.5);
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.ventanaFlotante.active{
    display:block;
}

@media screen and (maxWidth: 768px){
    .container{
        width: 90%;
    }
      .escudos_grid{
         grid-template-columns:1fr;
      }
      .escudos_info1{
         max-width: 100%;
      }
      .escudos_info2{
         max-width: 100%;
      }
      .escudos_info3{
         max-width: 100%;
      }
      .escudos_info4{
         max-width: 100%;
      }
      .ventanaFlotante{
         left: 50%;
         width: 50%;
      }  
      .h2{
         font-size: 15px;
      }

}